.gradient{
	height: 58px;
	background-color: #B53676;
	/*background-image: linear gradient (to right, #B53676,#7D3D79);*/
	margin-left: 500px;
	margin-right: 456px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.Reg-Form{
	margin-right: 500px;
	padding: 100px;
	margin-left: 500px;
	border:1px solid black;
	border-top-color:#B53676; 
	border-radius: 5px;
}
.Reg-hed{
	font-family: Arial;
	margin-top: -59px;
	margin-right: 40px;
	font-size: 20px;
	margin-left: -72px;
	margin-bottom: 31px;
}
.nam{
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: -73px;
	font-family: Arial;
	font-size: 15px;
	color: #5E5E5E;
	/*font-weight: bold;*/
}
.mal{
	margin-right: 91px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: -73px;
	font-family: Arial;
	font-size: 15px;
	color: #5E5E5E;
	/*font-weight: bold;*/
}
.nam1{
		color: #5E5E5E;
		font-family: Arial;
	font-size: 15px;
}
.box{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 11px;
	padding-right: 137px;
	margin-top: 7px;
	margin-right: -70px;
	margin-left: -74px;
	background-color:#FAFAFA ;
	border:1px solid #FAFAFA;
	margin-bottom: 15px;
}
.box1{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 11px;
	padding-right: 137px;
	margin-top: 7px;
	margin-right: -70px;
	margin-left: -74px;
	background-color:#FAFAFA ;
	border:1px solid #FAFAFA;
	margin-bottom: 15px;
}
.box2{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 11px;
	padding-right: 186px;
	margin-top: 7px;
	margin-right: -70px;
	margin-left: -74px;
	background-color:#FAFAFA ;
	border:1px solid #FAFAFA;
	margin-bottom: 15px;
	color: #5E5E5E;
	font-family: Arial;
	font-size: 15px;
}
.btn{
	color: white;
	background-color: #4471D8;
	margin-right: 10px;
	margin-left: -74px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border:1px solid #4471D8;
	font-family: Arial;
	border-radius: 4px;
	margin-bottom: -18px;
	font-size: 15px;
}
.fa-calendar-week{
	color: #959595;
	margin-right: -70px;
	margin-left: 37px;

}
.rad{
	margin-left: -71px;
	margin-right: 78px;
	margin-top: 14px;
	margin-bottom: 19px;
	color: #54BE46;
	background-color: #54BE46;
}
.rad1{
	margin-left: -63px;
	margin-right: 78px;
	margin-top: 14px;
	margin-bottom: 19px;
	color: #54BE46;
	background-color: #54BE46;
}